{{#> base }}

  <div class="page-container">
    <dds-card-section-simple>
      <dds-content-section-heading>Page Templates</dds-content-section-heading>
      <dds-card-group>
        <dds-card-group-item href="learn/index.html">
          <dds-card-heading>Learn</dds-card-heading>
          <dds-card-footer slot="footer">
            <svg focusable="false" preserveAspectRatio="xMidYMid meet" xmlns="http://www.w3.org/2000/svg" fill="currentColor" aria-hidden="true" width="20" height="20" viewBox="0 0 20 20" slot="icon"><!----><path d="M11.8 2.8L10.8 3.8 16.2 9.3 1 9.3 1 10.7 16.2 10.7 10.8 16.2 11.8 17.2 19 10z"></path></svg>
          </dds-card-footer>
        </dds-card-group-item>
        <dds-card-group-item href="solutions/index.html">
          <dds-card-heading>Solutions</dds-card-heading>
          <dds-card-footer slot="footer">
            <svg focusable="false" preserveAspectRatio="xMidYMid meet" xmlns="http://www.w3.org/2000/svg" fill="currentColor" aria-hidden="true" width="20" height="20" viewBox="0 0 20 20" slot="icon"><!----><path d="M11.8 2.8L10.8 3.8 16.2 9.3 1 9.3 1 10.7 16.2 10.7 10.8 16.2 11.8 17.2 19 10z"></path></svg>
          </dds-card-footer>
        </dds-card-group-item>
        <dds-card-group-item href="services/index.html">
          <dds-card-heading>Services</dds-card-heading>
          <dds-card-footer slot="footer">
            <svg focusable="false" preserveAspectRatio="xMidYMid meet" xmlns="http://www.w3.org/2000/svg" fill="currentColor" aria-hidden="true" width="20" height="20" viewBox="0 0 20 20" slot="icon"><!----><path d="M11.8 2.8L10.8 3.8 16.2 9.3 1 9.3 1 10.7 16.2 10.7 10.8 16.2 11.8 17.2 19 10z"></path></svg>
          </dds-card-footer>
        </dds-card-group-item>
        <dds-card-group-item href="ui-components/index.html">
          <dds-card-heading>UI Components</dds-card-heading>
          <dds-card-footer slot="footer">
            <svg focusable="false" preserveAspectRatio="xMidYMid meet" xmlns="http://www.w3.org/2000/svg" fill="currentColor" aria-hidden="true" width="20" height="20" viewBox="0 0 20 20" slot="icon"><!----><path d="M11.8 2.8L10.8 3.8 16.2 9.3 1 9.3 1 10.7 16.2 10.7 10.8 16.2 11.8 17.2 19 10z"></path></svg>
          </dds-card-footer>
        </dds-card-group-item>
        <dds-card-group-item href="#">
          <dds-card-heading>More coming soon!</dds-card-heading>
          <dds-card-footer slot="footer">
            <svg focusable="false" preserveAspectRatio="xMidYMid meet" xmlns="http://www.w3.org/2000/svg" fill="currentColor" aria-hidden="true" width="20" height="20" viewBox="0 0 20 20" slot="icon"><!----><path d="M11.8 2.8L10.8 3.8 16.2 9.3 1 9.3 1 10.7 16.2 10.7 10.8 16.2 11.8 17.2 19 10z"></path></svg>
          </dds-card-footer>
        </dds-card-group-item>        
      </dds-card-group>
    </dds-card-section-simple>
  </div>

{{/ base }}
